* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    color: #C0EEF2;
}

.hero-section {
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(50, 61, 88, 1) 0%, rgba(0, 0, 0, 1) 100%);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}




nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    position: fixed;
    z-index: 2;

}

ul {
    background-color: #e9f8f97c;
    border-radius: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    box-shadow: rgba(232, 232, 232, 0.2) 0px 7px 29px 0px;
}

li {
    margin: 0;
}

a {
    display: block;
    padding: 8px 30px;
    color: #E9F8F9;
    text-decoration: none;
    border-radius: 30px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #5555557a;
}

a.active {
    background-color: #e9f8f9ac;
    color: #333;
    font-weight: 500;
}


.heading {
    font-size: 5rem;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 2px 12px rgba(166, 206, 210, 1);
}

.input {
    color: #C0EEF2;
    font-size: 5rem;
}

main {
    margin: 15% 10%;
    text-align: center;
    position: relative;
    width: 70%;
}

.star-1 {
    position: absolute;
    right: 300px;
    top: 100px;

   
}

.star-2 {
    position: absolute;
    left: 300px;
    bottom: 100px;

   
}

.para {
    font-weight: bold;
    color: #e9f8f9be;
}

.scroll-icon {
    color: #C0EEF2;
    position: absolute;
    bottom: 10px;
}

.social-icons {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 4;
}

.social-icons i {
    position: relative;
    color: #C0EEF2;
    font-size: 1.3rem;
}

.mobile-visiblity {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: multiply;
    opacity: 0.6;
    z-index: 1;
}

#about {
    height: 100%;
    width: 100%;
    padding-top: 100px;
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(50, 61, 88, 1) 0%, rgba(0, 0, 0, 1) 100%);
    color: #C0EEF2;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h3 {
    margin: 0 5%;
    font-size: 2rem;
    text-shadow: 3px 4px 18px rgba(166, 206, 210, 1);
    text-align: center;
}

.about-head {
    text-align: center;
    padding: 14px 0;
    margin: 0 18%;
    opacity: 0.7;
}

.about-container {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: row;
}

.about-left,
.about-right {
    width: 50%;
  
}

.left-content {
    margin: 10%;
    height: 100%;
}

.left-content h4,
.right-content h4 {
    font-size: 32px;
    font-weight: bold;
    text-shadow: 1px 2px 12px rgba(166, 206, 210, 0.313);
}

.left-content p,
.right-content p {
    margin: 10px 0;
    font-size: 21px;
    font-weight: 500;
    text-align: justify;
    height: 100%;
}

.right-content {
    margin: 10%;
}

.right-content div {
    display: inline-block;
    padding: 5px;
    gap: 5px;
}

.right-content div span {

    padding: 7px 14px;
    gap: 10px;
    border-radius: 5px;
    background: #D9D9D9;
    color: #000;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 30px;
    display: inline-block;
    margin: 5px;
    box-shadow: rgb(225, 225, 225) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

#projects {
    height: 100vh;
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(50, 61, 88, 1) 0%, rgba(0, 0, 0, 1) 100%);

}

#contact {
    height: 100vh;
    background-color: blue;
}

@media(max-width:900px) {
    main {
        margin: 30% 0;
        width: 90%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .heading {
        font-size: 3rem;
        color: #fff;
        font-weight: bold;
        text-align: start;
    }

    .input {
        color: #C0EEF2;
        font-size: 2.2rem;
    }

    .star-1 {
        position: absolute;
        right: 20px;
        height: 20px;
        width: 30px;
        top: 100px;
    }

    .star-2 {
        position: absolute;
        left: 20px;
        bottom: 200px;

    }

    a {
        display: block;
        padding: 8px 22px;
        color: #E9F8F9;
        font-size: 12px;
        text-decoration: none;
        border-radius: 30px;
        transition: background-color 0.3s;
    }

    .para {

        text-align: start;
    }

    .mobile-visiblity {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        mix-blend-mode: multiply;
        opacity: 0.6;
        height: 100%;
        width: 100%;
    }



    .about-head,
    h3 {
        margin: 0 2%;
        text-align: center;
    }

    .about-container {
        flex-direction: column;
    }

    .about-left,
    .about-right {
        width: 100%;

    }

    .right-content,
    .left-content {
        margin: 2%;
    }

    .left-content h4,
    .right-content h4 {
        font-size: 22px;
        font-weight: bold;
        text-shadow: 1px 2px 12px rgba(166, 206, 210, 1);
        text-align: center;
    }

    .left-content p,
    .right-content p {
        margin: 10px 0;
        font-size: 16px;
        font-weight: 500;
        text-align: justify;
        height: 100%;
    }
    .right-content div span {

        padding: 5px 12px;
        gap: 10px;
        border-radius: 5px;
        background: #D9D9D9;
        color: #000;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 800;
        line-height: 30px;
        display: inline-block;
        margin: 5px;
        box-shadow: rgb(225, 225, 225) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }
}